body{
    
    background-color: lightblue;
    
}

.floatingText{
    
    height: 70%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: lightgray;
    
}

.buttonBar{
    display: flex;
    flex-flow: row;
    margin: 5%;
    align-items: center;
    height: 15%;
    
}