<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <title>E-Notes</title>
  </head>
  <body>
      <div class="container_fluid">
        <nav class="navbar d-flex flex-between align-items-center">
            <a href="#"><img src="../img/menu-white.png" alt="#" id="burger__menu"></a>
            <h2>bitnotes</h2>
            <a href="#"><img src="../img/search-icon.png" alt="#" id="search__icon"></a>
        </nav>
      </div>
            <div class="row test">
                <div class="col-1"></div>
                <div class="col-10 d-flex pt-3">
                    <div class="px-2 pt-1">
                        <div class="dot"></div>
                    </div>
                    <div class="d-flex flex-column">
                        <h1 class="note__box">Note 1 - Greek Archaeology</h1>
                        <br />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ex purus, scelerisque non risus vel, auctor venenatis quam. Pellentesque imperdiet lectus eget eros vestibulum, vel mollis erat egestas. Nunc at nunc bibendum, vestibulum neque a, pellentesque est. Nulla facilisi. Phasellus eu tortor molestie, venenatis lectus faucibus, luctus massa. Nulla facilisi. Praesent ligula est, pretium ac felis a, bibendum mattis nisl. Ut ac ipsum dapibus, tempus tortor a, lacinia nulla. Vivamus cursus ex eget neque pellentesque lobortis.

                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque lacinia mauris quis ipsum fermentum commodo. Maecenas eget velit non arcu accumsan blandit. Aliquam ullamcorper velit et lorem lacinia ultricies. Curabitur sed aliquet nibh, at auctor neque. Quisque dui augue, tincidunt vitae tempus a, elementum eget velit. Integer euismod sem et volutpat lacinia. Quisque rutrum accumsan lorem, at molestie justo finibus eu. Vestibulum tincidunt urna eget nulla dapibus, non sollicitudin ex iaculis.
                            </p><p> Curabitur accumsan lorem faucibus felis interdum, ac placerat leo auctor. Nam in consectetur tortor. Phasellus elit leo, condimentum in mi et, lacinia dictum massa. Etiam blandit eleifend elementum. Nam ipsum leo, dignissim non orci nec, molestie accumsan velit. Praesent iaculis sapien vitae quam convallis egestas.
                            
                            Vivamus vel bibendum augue. Praesent in ex arcu. Suspendisse nec egestas diam, eu tincidunt ipsum. Integer laoreet, nisi vel rhoncus consectetur, leo nulla commodo nibh, a finibus eros justo accumsan augue. In vitae lacus leo. Quisque ornare libero odio, quis gravida purus interdum quis. Nullam fermentum felis ex, at fermentum erat sodales sit amet. Sed nisi magna, tempor eu pretium id, dictum in orci. </p>
                            
                            <p> Morbi porta ut ex nec finibus. Vestibulum porta dolor est, condimentum aliquet neque aliquet hendrerit. Vestibulum iaculis odio ac orci finibus, non dapibus nibh tincidunt. Mauris ipsum velit, sodales in volutpat quis, vestibulum at dui. Integer ultricies est posuere, pulvinar turpis id, varius metus. Phasellus ac massa gravida, ultricies leo ac, varius arcu. Integer scelerisque erat eu justo feugiat placerat. Curabitur et fermentum nulla. Donec nisi tortor, pharetra et lacus eget, consequat tristique nulla. Mauris venenatis lectus vitae lacinia placerat.
                            
                            Praesent pretium laoreet lorem vel malesuada. Phasellus luctus augue elementum justo pretium, nec laoreet erat suscipit. Phasellus imperdiet lacinia turpis eget facilisis. Morbi quis risus viverra, maximus diam at, blandit est. Donec consequat fringilla mi, sed condimentum erat elementum ut. Cras nec enim vel nisi laoreet volutpat. Suspendisse non arcu feugiat, interdum augue nec, sodales felis. Nunc a porttitor mi, non interdum velit. Nulla facilisi. Aliquam molestie commodo leo eu auctor.</p>
                    </div>  
                </div> 
            </div>
      </div>
      <input type="button" value="+" id="cam__button">
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>